.navbar{ 
border-radius: 30px;
background-color: rgb(253, 253, 253)

}
.navbar .nav-link{
    color: rgb(255, 5, 5);
    font-size: 20px;
}

.btn{
    padding: 20px 30px;
    font-weight: 900;
    font-size: 20px;
}
.btn-muji{
    background-color: rgb(196, 207, 255);
    border: 2px solid rgb(255, 0, 0);
    border-radius: 30px;
    transition: all ease-in 0.5x;
}

.btn-muji:hover{
 color: rgb(158, 2, 2);
 
}

.glen{
    width: 15%
}

body{
    background-image:url(bgg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
div .col-lg-12{
    color: rgb(207, 215, 219);
    margin-top: 250px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 25px;
}